<div id="table_wrap">
  <table class="table table-striped table-dark mt-4">
    <thead>
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Preferred Position</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of all_players">
      <tr>
        <th scope="row">{{ player.name }}</th>
        <td>{{ player.position }}</td>
        <td><button class="btn btn-danger w-100" (click)="deletePlayerFromService(player._id)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>