<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div id="wrapper" class="p-4 bg-dark">
  <button type="button" class="btn btn-primary" [routerLink]="['plyrs', 'list']">Manage Players</button>
  <button type="button" class="btn btn-primary ml-4" [routerLink]="['status', 'game', '1']">Manage Player Status</button>
  <router-outlet></router-outlet>
</div>
